{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autentificacao/css/cadastro.css' %}">
{% endblock %}

{% block 'body' %}
    <div class="box">
        <form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}

            <h2 class="titulo font-degrade borda-bottom-degrade">RECUPERAR SENHA</h2>

            <br>
            {{form}}
            
            <input type="submit" value="Recuperar senha">
            {% if form.errors %}
                {{form.errors}}
            {% endif %}

        
        </form>
    </div>
{% endblock %}
